body{

margin:0;
font-family:Arial;

background:linear-gradient(-45deg,#020617,#0f172a,#020617,#020617);

background-size:400% 400%;

animation:bg 12s ease infinite;

color:white;

}

@keyframes bg{

0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}

}

nav{

display:flex;
justify-content:space-between;
padding:20px 10%;

}

.hero{

display:flex;
justify-content:space-between;
align-items:center;

padding:100px 10%;

}

.hero h1{

font-size:48px;

}

.btn{

display:inline-block;

margin-top:20px;

padding:12px 25px;

background:#38bdf8;

border-radius:30px;

color:white;

text-decoration:none;

}

.profile-wrapper{

position:relative;

width:250px;
height:250px;

}

.profile-ring{

position:absolute;

width:270px;
height:270px;

border-radius:50%;

background:conic-gradient(
#00f7ff,
#00ffa2,
#0066ff,
#00f7ff
);

animation:spin 6s linear infinite;

filter:blur(8px);

}

.profile-img{

width:240px;
height:240px;

border-radius:50%;

object-fit:cover;

position:absolute;
top:5px;
left:5px;

}

@keyframes spin{

0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}

}

section{

padding:80px 10%;

}

.tech-grid{

display:flex;
flex-wrap:wrap;
gap:10px;

}

.tech-grid span{

padding:10px 15px;

background:#1e293b;

border-radius:8px;

transition:.3s;

}

.tech-grid span:hover{

background:#38bdf8;

transform:scale(1.1);

}

.project-card{

background:#1e293b;

padding:30px;

border-radius:15px;

}

video{

width:100%;

margin-top:20px;

border-radius:10px;

}

footer{

text-align:center;

padding:30px;

opacity:.7;

}

.hidden{

opacity:0;
transform:translateY(40px);

transition:all .8s;

}

.show{

opacity:1;
transform:translateY(0);

}

.light-mode{

background:#f5f5f5;
color:black;

}
